$clr-violet: #5964e0;
$clr-violet-light: #939bf4;
$clr-violet-ultralight: #eeeffc;
$clr-btn-secondary: #c5c9f4;
$clr-grey-light: #9eadc2;
$clr-grey-medium: #6e8098;
$clr-grey-dark: #696e76;
$clr-grey-ultradark: #303642;
$clr-checkbox-fill: #e7e8e9;
$clr-background-page-elements: #fff;
$clr-text-heading: #19202d;
$clr-background-body: #f4f6f8;
$clr-dark-background-page-elements: #19202D;
$clr-dark-text-heading: #f4f6f8;
$clr-dark-background-body: #121721;

